.control,
.indicators {
  display: flex;
  align-items: center;
}

.control {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--slider-control-bg);
  border-radius: 25px;
}

.button {
  padding: 0.5em;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.button svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.indicators {
  margin-left: 1em;
  margin-right: 1em;
}

.indicator {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.4;
  transition: opacity, scale 250ms cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
.indicator:not(:last-child) {
  margin-right: 1em;
}

.indicator.current {
  scale: 1.4;
  opacity: 1;
}
