.wrapper {
  background-color: var(--footer-bg-color);
}

.notices {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.link {
  color: var(--text-color);
}

.link:not(:last-child) {
  margin-right: 3em;
}

.link:hover {
  color: var(--primary-color);
  transition: color 200ms var(--transition);
}
