.slider {
  position: relative;
  margin: 0 auto;
  margin-bottom: 84px;
  width: fit-content;
  background: none;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #fff;
}

.title span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.2em;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fff;
}

.carousel {
  position: relative;
  border-radius: 0.6em;
  overflow: hidden;
}

.list {
  display: flex;
  transition: all 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
