.dropdown {
  position: relative;
}

.button {
  display: flex;
  padding: 0.875em 1.6em 0.875em 1em;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 25px;
  transition: background-color 200ms var(--transition);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #28313e;
}

.listWrapper {
  position: relative;
}

.listWrapper::before {
  content: '';
  position: absolute;
  top: 0.4em;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--secondary-color);
}

.list {
  position: absolute;
  top: calc(100% + 0.6em);
  left: 50%;
  transform: translateX(-50%);
  min-width: 150px;
  background-color: var(--secondary-color);
  border-radius: 0.6em;
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  padding: 0.8em;
  transition: background, color 200ms var(--transition);
  cursor: pointer;
}

.item.active {
  color: #fff;
  pointer-events: none;
}

.item:hover {
  color: #fff;
  background-color: #28313e;
}

.icon {
  margin-right: 0.6em;
  border-radius: 50%;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 0.3em;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: #62656b;
  transition: transform 200ms var(--transition);
}

.arrow.rotate {
  transform: translateY(-50%) rotate(-180deg);
}
