.logo {
  position: relative;
  min-width: 25%;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  pointer-events: none;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo span:first-child {
  padding: 0.2em 0.3em;
  background-color: var(--primary-color);
  border-radius: 0.2em;
}
