.body {
  position: relative;
  max-width: inherit;
  border-radius: inherit;
  overflow: hidden;
}

.body img {
  max-width: inherit;
  border-radius: inherit;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 45, 56, 0.95);
  opacity: 0;
  transition: opacity 400ms var(--transition);
}

.body:hover .overlay {
  opacity: 1;
}

.row:not(:last-child) {
  margin-bottom: 1em;
}

.row:first-child {
  margin-bottom: 1.75em;
  color: #fff;
}

.row span {
  color: #fff;
  font-weight: 500;
}
