.title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.015em;
  word-spacing: 0.1em;
  text-transform: capitalize;
  color: #fff;
}

.title span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.2em;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fff;
}
