.form {
  position: relative;
}

.input {
  padding: 1em 1em 1em 3em;
  width: 300px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 25px;
  outline: none;
}

.input::placeholder {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -51%);
  color: var(--tertiary-color);
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
  left: 0.6em;
  transform: translateY(-50%);
  padding: 0.4em;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
