@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import-normalize;

:root {
  /* colors */
  --primary-color: #f73b3b;
  --secondary-color: #181d25;
  --tertiary-color: #62656b;
  --text-color: #acacaf;
  --main-bg-color: #0e121b;
  --slider-control-bg: #07090d;
  --footer-bg-color: #181d25;

  /* box-shadows */
  --primary-bs-hover: rgba(247, 59, 59, 0.2) 0px 6px 20px -5px,
    rgba(247, 59, 59, 0.1) 0px 10px 10px -5px;
  --searchbar-bs: rgba(247, 59, 59, 0.8) 0px 0px 0px 2px;

  /* transitions */
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--main-bg-color);
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
