@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&display=swap');
@import-normalize;

:root {
  --accent-color: #f33d3d;
  --slider-control-bg: #07090d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  background-color: #0e121b;
  font-size: 14px;
  line-height: 1.2;
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
