@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import-normalize;

:root {
  --primary-color: #f33d3d;
  --secondary-color: #181d25;
  --tertiary-color: #62656b;
  --slider-control-bg: #07090d;

  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 120px;
  color: #fff;
  background-color: #0e121b;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
