.button {
  position: absolute;
  padding: 8px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: fit-content;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.button svg {
  transition: fill 200ms var(--transition);
}

.button:hover svg {
  fill: var(--primary-color);
}
